* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Color1: #406082;
  --Color2: #ff4727;
  --Color3: #672d60;
  --Color4: #fffbfa;
  font-family: "Comfortaa", sans-serif;
}
body {
  background-color: var(--Color3);
}
